#!/bin/rc

fn sigexit{
	rm -f $tmpfile
}

journal=$home/journal
tmpfile=/tmp/j.$pid
touch $tmpfile
today=`{date -i}
lastdate=`{grep '^===' $journal | tail -n 1 | sed 's/ *=== *//g'}
if(~ $#* 0)
	hold $tmpfile
if not
	echo $* > $tmpfile
{
	echo
	if(! ~ $today $lastdate)
		echo '===' $today '==='
	sed 's/^/	/g' <$tmpfile
}>>$journal
